.containerTransparencia{
    margin-left: 15%;
    width: 70%;
}

.fundoDadosGerais{
    background-color: #F5F5F7;
    border-radius: 20px;
    padding: 2%;
    margin-top: 2%;
}

.containerDadosGerais{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blocoDadosGerais{
    width: 25%;
    margin-top: 1%;
}



.tituloBlocos{
    display: flex;
    justify-content:center ;
    align-items: center;
    color: #2F2E41;
    font-weight: bold;
    font-size: x-small;
}


.iconeDados{
    width: 8%;
    margin-right: 2%;
}


.formatarDado{
    color: #D2202C;
    font-weight: bolder;
    font-size: larger;
}

.usuarioCurso{
    width: 49%;
    background-color: #F5F5F7;
    border-radius: 20px;
    color: #2F2E41;
    font-weight:bolder;
    padding-top: 2%;
    padding-bottom: 4%;
}

.grafico{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin-top: 4%;
    margin-bottom: 4%;
}


.legendaCurso{
    margin-bottom: 1%;
    font-size: smaller;
}

.usuarioEstado{
    width: 49%;
    color: #2F2E41;
    background-color: #F5F5F7 ;
    border-radius: 20px;
    padding-top: 2%;
    padding-bottom: 4%;
    
}

.containerInferior{
    display: flex;
    margin-top: 3%;
    justify-content: space-around;
    margin-bottom: 10%;
}


p{
    font-size: small;
}

h3{
    color: #D2202C
}

.bolinha{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 3%;
    margin-left: 5%;
    border: 1px solid black; 
}

.legendaMapa{
    display: flex;
    align-items: center;
    padding-top: 2%;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 1%;
}

.mapa{
    margin-top: 4%;
    margin-bottom: 4%;
}

@media screen and (max-width: 768px) {
    .containerTransparencia{
        width: 90%;
        margin-left: 5%;
    }

    .iconeDados{
        width: 10%;
    }

    .blocoDadosGerais{
        width: 30%;
    }
  }

  @media screen and (max-width: 425px) {
   .containerInferior{
    flex-direction: column;
    align-items: center;
    width: 100%;
   }

   .usuarioCurso{
    width: 100%;
    align-items: center;
    margin-bottom: 5%;

   }

   .usuarioEstado{
    width: 100%;
   }

   .iconeDados{
    width: 15%;
    }
  }