
.button{
    margin-left: 5px;
}

.avasusMenuImage{
    width: 80%;
    margin-left: 10%;
}

.nav-link{
    color: #2F2E41 !important;
    font-weight: 600 !important;
}

.current-page.nav-link{
    color: #707070 !important;
    text-decoration: none;

}

.busca{
    width: 20% !important;
}
