ul{
  margin: 0 !important;
}
.classificacoes{
  display: flex;
  width: 100%;
  color: #2F2E41;
  font-weight: 600;
  margin-left: 1%;
}

.selecionado{
  border-bottom: 1px solid #2F2E41;
  margin-left: 1%;
}

.naoSelecionado{
  margin-left: 1%;
}



.listaCursos{
  list-style-type: none;
  border-radius: 20px;
  background: #F5F5F7;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: small;
}

.img-quadrada {
  width: 7vw; 
  height: 7vw; 
  object-fit: cover; 
  border-radius: 20%; 
}

.infos{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}


.titulo{
  text-align: left;
  font-size: small;
  font-weight: 600;
}

.parceiros{
    color: #F6303F;
    font-size: xx-small;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: left;
}

.iconeEInfo{
  display: flex;
  align-items: center;

}

.iconeEInfoEstrela{
  display: flex;
  align-items: baseline;
  width: 170px;
  box-sizing: content-box;
}

.iconeUsuario{
  width: 24px;
  margin-right: 5px;
}

.icone{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}


.estrela::before {
    display: inline-block;
    width: 25px;
    height: 30px;
    position: relative;
    font-weight: bolder;
    content: '\2605'; 
    color: #ddd; 
    
}
.preenchida::before {
    color: #F6303F; 
}
.meia-preenchida::before {
    content: '\2605';
    color: #F6303F; 
    display: inline-block;
    width: 25px;
    height: 30px;
    position: relative;
    font-weight: bolder;
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%); 
}
.container-estrelas {
  display: flex; 
  
}


.containerInfoEstrelas{
  display: flex;
  margin-top: 7px;
  

}


.moduloAPI{
    border-radius: 20px;
    border: 1px solid #707070;
    background: #707070;
    padding-left: 10px;
    padding-right: 10px;
    color: azure;
    white-space: nowrap;

}

.selecionado{
  border-bottom: 1px solid #2F2E41;
}

.linkModulo{
  text-decoration: none;
}



@media screen and (max-width: 768px) {
  .listaCursos {
      margin: 10px 0;
  }
  .containerAPI{
    width: 100%;
  }
  .infos {
      width: 40%
  }
  .icone {
      width: 15px; 
      height: 15px;
  }

  .iconeUsuario{
    width: 20px;
}

.container-estrelas{
  display: flex;
}

}



@media screen and (max-width: 425px) {
  .infos{
    margin: 5px;
  }

  .img-quadrada {
      width: 40%;
      height: 40%;
   }

  .iconeUsuario{
    width: 25px;
    margin-right: 5px;
   
  }

  .icone{
    height: 20px;
    width: 20px;
    margin-right: 14px;
  }


  .listaCursos {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }

  .infos {
    width: 80%;
    text-align: center;
  }

  .containerInfoEstrelas{
  margin-top: 0;
  }

  .titulo, .parceiros{
  text-align: center;
  }

}