h1{
    color: #D2202C;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.containerHome{
    margin-top: 61px;
}

.destaques{
    position: relative;
    display: inline-block;
}

.fundo {
    width: 100%;
    position: relative;
}

.overlayDestaque{
    background-color: rgba(82, 45, 45, 0.3);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 25%;
}

.containerHome{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.containerImage{
    position: relative;
}

.setaEsquerda, .setaDireita, .barra {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3; 
    max-width: 7%; 
    max-height: 7%;
  }
  
  .setaEsquerda {
    left: 20px; 
  }
  
  .setaDireita {
    right: 20px; 
  }
  
  .barra {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    top: 90%;
    width: 70%;
  }

.modulosEducacionais{
    width: 70%;
    margin-top: 5%;

}

.retangulo{
    background: #707070;  
    width: 30%; 
    padding-right: 7%;
    padding-left: 7%;
    color: azure;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 4%;

}

.containerParceirosHome{
    width: 70%;
    margin-bottom: 5%;
    margin-top: 4%;
    

}

.cadaParceiro{
    width: 24%;
}

.nomeParceiros{
    display: flex;
    background: #F5F5F7;
    border-radius: 20px;
    padding: 2%;
    margin-left: 2%;
    justify-content: space-between;
}

.siglaParceiro{
    font-size: medium;
    font-weight: bold;
}

.extensoParceiro{
    font-size: small;
    color: #707070;
}



@media screen and (max-width: 768px) {
    .modulosEducacionais,
    .containerParceirosHome {
        width: 90%; 
    }
}

@media screen and (max-width: 425px) {
    .siglaParceiro{
        font-size: small;
    }

    .nomeParceiros{
        flex-direction: column;
      }

      .cadaParceiro{
        width: 100%;
        margin-top: 5px;
      }

}