ul{
    padding-left: 0% !important;
}

.containerModulos{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 3%;
}

.cabecalho{
    font-size: smaller;
    text-align: left;

}



.cardCursos{
    width: 30%;
}

.capaCard{
    border-radius: 10%;
    width: 100%;
}

.containerCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resultados{
    text-align: left;
}

.tituloCard{
    text-align: left;
}

.parceirosCard{
    font-size: x-small;
    text-align: left;
    color: #F6303F;
    font-weight: bold;
}

.iconeCard{
    width: 5%;
    height: 5%;
}

.resumoCard{
    font-size: small;
    text-align: left;
    margin-bottom: 1%;
}

.infoCard{
    font-size: x-small;
}

.infoContainer{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.bttnModulos{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.bttnPag{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .containerModulos{
        width: 90%;
        margin-left: 5%;
    }
  }

  @media screen and (max-width: 425px) {
    .containerCard {
        flex-direction: column;
    }

    .cardCursos{
        width: 100%;
    }

    .containerCategorias{
        font-size: small;
    }
  }