.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .faixa {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .vermelha {
    background: #d2202c;
    padding-bottom: 2%;
    padding-top: 1%;
}

  .cinza {
    background: #323237;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 1%;
  }
  
  .bloco {
    text-align: left;
  }

  .redesSociais{
    width: 100%;
  }

  .blocoRedes{
    width: 20%;
    margin-top: -5px;
  }

  .logoSociais{
    margin: 0.5%;
    margin-left: 5%;
  }

  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cinza-claro {
    background: #424146;
    display: flex;
    color: #FFF;
    padding-top: 1%;
  }
  
.logos{
    width: 40%;
    padding-left: 4%;
    padding-right: 4%;
}

.logoMenor{
    width: 35%;
}

.laisFaixaCinza{
  width: 60%;
}

@media screen and (max-width: 375px) {

  .redesSociais{
    width: 10%;
    height: 100%;
  }

  .logoSociais{
    margin-bottom: 10%;
  }


}