.containerInfos{
    width: 70%;
    margin-left: 15%;
    margin-top: 3%;
    


}
.infosCapaTitulo{
    font-size: x-large;
    padding-bottom: 2%;
    font-weight: bold;
}
.infosCapaSecoes{
    font-size: small;
    padding-bottom: 4%;

}

.infosCapaParceiros{
    font-size: x-large;
}



.capa-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de transparência */
  }
  
  .capaInformacoes {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 10%;
    
  }

  .conteudo-informacoes {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    text-align: center;
    color: white;
    text-align: left;
    width: 70%;

  }
  

.infoContainerInfo{
    width: 100%;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.creditos-container {
    display: flex;
    justify-content: space-between; 
    align-items: baseline;
  }
  
  .credito-item {
    text-align: center;
    width: 20%;
  }
  
  .credito-item img {
    width: 100%; 
    height: auto;
  }

  .iconeInfos{
    width: 3%;
  }

  .infoCardInfo{
    font-size: medium;
  }

  .informacoesCurso{
    text-align: justify;
    line-height: 1;
  }

h5{
    text-align: center;
    margin-top: 3% !important;
    margin-bottom: 1%;
    font-weight: bold;
}

h6{
  margin-top: 2% !important;
}

h3{
    font-weight: bold;
}

@media screen and (max-width: 768px) {
  .containerInfos{
    width: 90%;
    margin-left: 5%;
    font-size: small;
  }

  .infoContainerInfo{
    flex-wrap: wrap;
  }

  .credito-item{
    width: 25%;
  }
}

@media screen and (max-width: 425px) {
  .conteudo-informacoes{
    width: 90%;
  }

  .infosCapaTitulo{
    font-size: large;
    padding-bottom: 2%;
    font-weight: bold;
}
.infosCapaSecoes{
    font-size: smaller;
    padding-bottom: 4%;
}

.creditos-container{
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5%;
}

.infosCapaParceiros{
    font-size: medium;
}

.credito-item {
  width: 40%;
  
}

}

@media screen and (max-width: 320px) {

  .infoCardInfo{
    font-size: small;
  }

}